/* static/css/styles.css */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content-wrapper{
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.sidebar p a {
    text-decoration: none;
    color: #007bff;
}

.sidebar p a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

